name: Chromatic

on:
  pull_request:
    branches: [main]
    paths:
      - 'packages/notion-to-jsx/src/**'
      - 'apps/storybook/**'

jobs:
  chromatic:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Storybook
        run: pnpm --filter storybook build

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          storybookBuildDir: apps/storybook/storybook-static
          onlyChanged: true
          exitZeroOnChanges: true
          autoAcceptChanges: main

